In [ ]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.impute import SimpleImputer, KNNImputer
from imblearn.over_sampling import SMOTE
from xgboost import XGBClassifier
from sklearn.inspection import permutation_importance
from sklearn.ensemble import VotingClassifier, BaggingClassifier
from sklearn.preprocessing import MinMaxScaler
import pygad

# Load datasets
application_data = pd.read_csv("application_record.csv")
credit_data = pd.read_csv("credit_record.csv")

# Data Exploration
print("Application Data Overview:\n", application_data.head())
print("Credit Data Overview:\n", credit_data.head())

print("Application Data info:\n", application_data.info())
print("Credit Data info:\n", credit_data.info())

# Check for null values
print("\nNull Values in Application Data:\n", application_data.isnull().sum())
print("Null Values in Credit Data:\n", credit_data.isnull().sum())

# Drop the column with the highest percentage of missing values
max_null_column = application_data.isnull().sum().idxmax()
max_null_percentage = application_data[max_null_column].isnull().sum() / application_data.shape[0]
print(f"\nDropping column '{max_null_column}' with the highest null percentage: {max_null_percentage*100:.2f}%")
application_data.drop(columns=[max_null_column], inplace=True)

# Print remaining columns after dropping
print("\nColumns after dropping the column with the highest null percentage:")
print(application_data.columns)

# Check for duplicates before dropping
print(f"\nNumber of duplicate rows before dropping: {application_data.duplicated().sum()}")

# Drop duplicates
application_data = application_data.drop_duplicates()

# Check for duplicates after dropping
print(f"Number of duplicate rows after dropping: {application_data.duplicated().sum()}")
# Check for duplicates in credit_data
print(f"\nNumber of duplicate rows in Credit Data before dropping: {credit_data.duplicated().sum()}")

# Drop duplicates in credit_data
credit_data = credit_data.drop_duplicates()

# Check for duplicates again in credit_data
print(f"Number of duplicate rows in Credit Data after dropping: {credit_data.duplicated().sum()}")


# For numerical columns, replace NaN with the median (or mean if preferred)
numerical_columns = ['AMT_INCOME_TOTAL', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'CNT_FAM_MEMBERS']

for col in numerical_columns:
    if application_data[col].isnull().sum() > 0:  # Check if column has missing values
        median_value = application_data[col].median()
        application_data[col] = application_data[col].fillna(median_value)  # Assign median value to NaN

# After filling missing values, you can check the changes
print(application_data.isnull().sum())  # Check if there are any remaining NaN values

def wisker(col):
  q1,q3 = np.percentile(col,[25,75])
  iqr = q3-q1
  lw= q1- 1.5*iqr
  uw = q3 + 1.5*iqr
  return lw,uw

for i in numerical_columns:
  lw,uw = wisker(application_data[i])
  application_data[i]= np.where(application_data[i] < lw,lw,application_data[i])
  application_data[i]= np.where(application_data[i] > uw,uw,application_data[i])

  print(f"Column: {i}")
  print(application_data[i].describe())  # Print summary statistics to observe changes
  print(application_data[i].head())

# Map STATUS in credit_data
status_mapping = {'C': 0, 'X': 0, '0': 1, '1': 1, '2': 1, '3': 1, '4': 1, '5': 1}
credit_data['STATUS'] = credit_data['STATUS'].map(status_mapping)

# Aggregate credit_data by ID (take the worst STATUS per ID)
credit_data = credit_data.groupby('ID')['STATUS'].max().reset_index()

# Merge datasets
merged_data = pd.merge(application_data, credit_data, on='ID', how='inner')

# Label Encoding for categorical features
categorical_cols = merged_data.select_dtypes(include=['object']).columns
le = LabelEncoder()
for col in categorical_cols:
    if col != 'ID':  # Exclude ID from encoding
        merged_data[col] = le.fit_transform(merged_data[col])

# Feature and target separation
X = merged_data.drop(columns=['ID', 'STATUS'])
y = merged_data['STATUS']

# Check class imbalance
print("\nClass Distribution:\n", y.value_counts())

# Address class imbalance (Optional: Using SMOTE or undersampling if needed)
# For now, we'll proceed with the existing data.

# Split data into train, validation, and test sets
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, stratify=y_temp, random_state=42)

# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

def fitness_func(ga_instance, solution, solution_idx):
    # Select the features based on the solution (chromosome)
    selected_features = [idx for idx, value in enumerate(solution) if value == 1]

    if len(selected_features) == 0:
        return 0  # Return a fitness of 0 if no features are selected

    try:
        # Select features for training and validation data
        X_train_selected = X_train[:, selected_features]
        X_val_selected = X_val[:, selected_features]

        # Train the model using Decision Tree
        model = DecisionTreeClassifier(random_state=42)
        model.fit(X_train_selected, y_train)

        # Evaluate the model on the validation set
        accuracy = model.score(X_val_selected, y_val)

        return accuracy
    except Exception as e:
        print(f"Error in fitness_func: {e}")
        return 0  # Return 0 if any error occurs

try:
    ga_instance = pygad.GA(
        num_generations=20,
        num_parents_mating=5,
        fitness_func=fitness_func,
        sol_per_pop=10,
        num_genes=X_train.shape[1],
        gene_type=int,
        init_range_low=0,  # Binary values
        init_range_high=2,  # Should be exclusive, so use 2 for binary (0 or 1)

        # Explicit Crossover and Mutation Settings
        crossover_type="single_point",  # You can also use "uniform"
        crossover_probability=0.9,  # Probability of applying crossover
        mutation_type="random",  # Mutation type
        mutation_probability=0.1,  # Probability of mutation
        mutation_percent_genes=10  # Percentage of genes to mutate
    )
    ga_instance.run()

    best_solution, best_solution_fitness, _ = ga_instance.best_solution()
    selected_features = [idx for idx, value in enumerate(best_solution) if value == 1]
    print("Selected Features:", selected_features)

    # Apply selected features
    X_train = X_train[:, selected_features]
    X_val = X_val[:, selected_features]
    X_test = X_test[:, selected_features]

except Exception as e:
    print(f"Error with Genetic Algorithm: {e}")





# Model Training
models = {
    'KNN': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier(random_state=42),
    'MLP': MLPClassifier(random_state=42, max_iter=50),
    'Random Forest': RandomForestClassifier(random_state=42),
    'Gradient Boosting': GradientBoostingClassifier(random_state=42)
}

best_models = {}

for model_name, model in models.items():
    # Define hyperparameter grid for each model
    if model_name == 'KNN':
        param_grid = {'n_neighbors': [3, 5, 7], 'weights': ['uniform', 'distance']}
    elif model_name == 'Decision Tree':
        param_grid = {'max_depth': [5, 10, 15], 'min_samples_split': [2, 5, 10]}
    elif model_name == 'MLP':
        param_grid = {'hidden_layer_sizes': [(50,), (100,), (50, 50)], 'alpha': [0.0001, 0.001, 0.01]}
    elif model_name == 'Random Forest':
        param_grid = {'n_estimators': [50, 100, 200], 'max_depth': [5, 10, 15]}
    elif model_name == 'Gradient Boosting':
        param_grid = {'n_estimators': [50, 100, 200], 'learning_rate': [0.01, 0.1, 0.2], 'max_depth': [3, 5, 7]}


    # Perform Grid Search
    grid_search = GridSearchCV(model, param_grid, cv=3, scoring='accuracy')
    grid_search.fit(X_train, y_train)

    # Store the best estimator for each model
    best_models[model_name] = grid_search.best_estimator_

    # Output the best parameters for the model
    print(f"\nBest parameters for {model_name}: {grid_search.best_params_}")


# Evaluate Models
for model_name, model in best_models.items():
    model.fit(X_train, y_train)  # Use resampled data for fitting the model
    y_pred = model.predict(X_test)  # Make predictions on the test set
    print(f"\n{model_name} Performance:")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
    print("Classification Report:\n", classification_report(y_test, y_pred))

Application Data Overview:
         ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0  5008804           M            Y               Y             0
1  5008805           M            Y               Y             0
2  5008806           M            Y               Y             0
3  5008808           F            N               Y             0
4  5008809           F            N               Y             0

   AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0          427500.0               Working               Higher education
1          427500.0               Working               Higher education
2          112500.0               Working  Secondary / secondary special
3          270000.0  Commercial associate  Secondary / secondary special
4          270000.0  Commercial associate  Secondary / secondary special

     NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0        Civil marriage   Rented apartment      -12005          -4542
1        Civil marriage   Rented apartment      -12005          -4542
2               Married  House / apartment      -21474          -1134
3  Single / not married  House / apartment      -19110          -3051
4  Single / not married  House / apartment      -19110          -3051

   FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0           1                1           0           0             NaN
1           1                1           0           0             NaN
2           1                0           0           0  Security staff
3           1                0           1           1     Sales staff
4           1                0           1           1     Sales staff

   CNT_FAM_MEMBERS
0              2.0
1              2.0
2              2.0
3              1.0
4              1.0
Credit Data Overview:
         ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB
Application Data info:
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ID              1048575 non-null  int64
 1   MONTHS_BALANCE  1048575 non-null  int64
 2   STATUS          1048575 non-null  object
dtypes: int64(2), object(1)
memory usage: 24.0+ MB
Credit Data info:
 None

Null Values in Application Data:
 ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
dtype: int64
Null Values in Credit Data:
 ID                0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

Dropping column 'OCCUPATION_TYPE' with the highest null percentage: 30.60%

Columns after dropping the column with the highest null percentage:
Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'CNT_FAM_MEMBERS'],
      dtype='object')

Number of duplicate rows before dropping: 0
Number of duplicate rows after dropping: 0

Number of duplicate rows in Credit Data before dropping: 0
Number of duplicate rows in Credit Data after dropping: 0
ID                     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
CNT_FAM_MEMBERS        0
dtype: int64
Column: AMT_INCOME_TOTAL
count    438557.000000
mean     182038.747367
std       80856.345793
min       26100.000000
25%      121500.000000
50%      160780.500000
75%      225000.000000
max      380250.000000
Name: AMT_INCOME_TOTAL, dtype: float64
0    380250.0
1    380250.0
2    112500.0
3    270000.0
4    270000.0
Name: AMT_INCOME_TOTAL, dtype: float64
Column: CNT_CHILDREN
count    438557.000000
mean          0.418378
std           0.690777
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           2.500000
Name: CNT_CHILDREN, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: CNT_CHILDREN, dtype: float64
Column: DAYS_BIRTH
count    438557.000000
mean     -15997.904649
std        4185.030007
min      -25201.000000
25%      -19483.000000
50%      -15630.000000
75%      -12514.000000
max       -7489.000000
Name: DAYS_BIRTH, dtype: float64
0   -12005.0
1   -12005.0
2   -21474.0
3   -19110.0
4   -19110.0
Name: DAYS_BIRTH, dtype: float64
Column: DAYS_EMPLOYED
count    438557.000000
mean      -1420.292475
std        2966.002918
min       -7201.000000
25%       -3103.000000
50%       -1467.000000
75%        -371.000000
max        3727.000000
Name: DAYS_EMPLOYED, dtype: float64
0   -4542.0
1   -4542.0
2   -1134.0
3   -3051.0
4   -3051.0
Name: DAYS_EMPLOYED, dtype: float64
Column: CNT_FAM_MEMBERS
count    438557.000000
mean          2.186003
std           0.869332
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max           4.500000
Name: CNT_FAM_MEMBERS, dtype: float64
0    2.0
1    2.0
2    2.0
3    1.0
4    1.0
Name: CNT_FAM_MEMBERS, dtype: float64

Class Distribution:
 STATUS
1    32002
0     4455
Name: count, dtype: int64
Selected Features: [1, 2, 8, 11, 12, 13, 15]

Best parameters for KNN: {'n_neighbors': 5, 'weights': 'uniform'}

Best parameters for Decision Tree: {'max_depth': 5, 'min_samples_split': 10}